doctype 5
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

  style
    body {
    background:#336699;
    }

    div {
    border: black solid 4px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    background:white;
    display: inline-block;
    margin-left:30%;
    margin-right:30%;
    width:40%;
    }
  
    p.h1 {
    font-size:36px;
    text-align: center;
    }